<div *ngIf="isMovie; else notMovie">
    <div class="search">
        <form class="form-inline" [formGroup]="movieForm" (ngSubmit)="submitMovieForm()">
            <mat-form-field class="example-full-width">
                <mat-label>Search for a Movie</mat-label>
                <input matInput formControlName="title" placeholder="Movie title">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="movieForm.invalid">Search</button>
        </form>
    </div>
</div>
<ng-template #notMovie>
    <div class="search">
        <form class="form-inline" [formGroup]="tvForm" (ngSubmit)="submitTvForm()">
            <mat-form-field class="example-full-width">
                <mat-label>Search for a Tv Show</mat-label>
                <input matInput formControlName="title" placeholder="Tv Show title">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="tvForm.invalid">Search</button>
        </form>
    </div>
</ng-template>