<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" routerLink="search/movie">
          <img src="../../assets/logo1.png" alt="">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Search
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLinkActive="active" routerLink="search/movie">Movie</a>
            <a class="dropdown-item" routerLinkActive="active" routerLink="search/tv-show">Tv Show</a>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="movies">Movies</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"routerLink="tv-shows">Tv Shows</a>
        </li>
      </ul>
    </div>
</nav>