table {
    width: 100%;
}

img {
  height: 140px;
  width: 100px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.update {
  color: grey;
}

.notifications {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}