<div class="search">
  <form class="form-inline" [formGroup]="movieForm" (ngSubmit)="submitForm()">
    <input type="text" id="title" class="form-control form-control-lg" formControlName="title"
      placeholder="Search for a movie">
    <button type="submit" class="btn btn-primary" [disabled]="movieForm.invalid">Search</button>
  </form>
</div>
<app-list *ngFor="let movie of movies; let i = index" [indexOfMovie]="i" [movieTitle]="movie.title"
  [movieVote]="movie.vote_average" [movieDate]="movie.release_date" [moviePoster]="movie.poster_path"
  [movieText]="movie.overview">
</app-list>